*{
    background-color: #fdfdbb;
}
div{
    margin: 20px;
}
a{
    text-decoration: none;
    color: #ff0000;
}
h5{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
}
th{
    color: #000000;
    background-color: #259e3f;
    /*border: 2px solid #000000;*/
    text-align:center;
    padding: 5px;
    border: solid #000000;
}
td{
    color: #ffffff;
    background-color: #000000;
    /*border: 2px solid #000000;*/
    text-align:right;
    padding: 5px;
}
table{
    width: 230px;
    height: 230px;
    border-collapse: collapse;
    border: solid #000000;
}