<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 style="text-align:center"> Student Details </h1>

    <table id = "personal-details">
        <tr>
            <th>Roll Number</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr>
            <td>{{a.roll_number}}</td>
            <td>{{a.first_name}}</td>
            <td>{{a.last_name}}</td>
        </tr>
    </table>

    <h1 style="text-align:center"> Enrollment list </h1>
        
    <table id = "enroll-table">
        <tr>
            <th>S. No.</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Course Description</th>
        </tr>
        {% for elem in d%}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{elem.course_code}}</td>
            <td>{{elem.course_name}}</td>
            <td>{{elem.course_description}}</td>
        </tr>
        {%endfor%}
    </table>

    <div style="margin-left: 3cm">
        <a href="/"> Go Back</a>
    </div>
</body>
</html>